body {
    width: 320px;
    margin-left: 0;
}
header {
    width: 100%;
    display: flex;
    justify-content: center;
}
.Logo {
    width: 80%;
}

.bg {
    width: 100%;
    background-image: url(./Imagens/BG.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.container-contatos{
    margin-top: -10%;
}
.contatos{

    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 2em;
    margin: 10% auto auto auto;
}

.contatos img{
    margin-top: 100%;
    margin-bottom: 0.5em;
}
.sessao {
    height: 8em;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10em;
}
.sessao button{
    height: 40%;
    width: 50%;
    background-color: rgb(73, 245, 179);
    color: black;
    border-radius: 10px;
}

.conceito{
    text-align: left;
    padding: 30px;
    
}
a {
    text-decoration:none;
    color: black;
}
section {
    height: 116%;
    margin: auto auto -100% auto;
    background-image: url(./Imagens/BG.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.esculpe-detox {
    width: 100%;
    margin: -12px;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.esculpe-detox img {
    margin: 5%;
    width: 50%;
    border: 2px solid;
}
.esculpe-detox button {
    background-color: pink;
    border-radius: 5%;
    margin-bottom: 10%;
}
.massagens {
    display: flex;
    width: 100%;
}

.esquerda {
    padding: 0%;
    margin-left: -10px;
    width: 50%;
    flex-direction: column;
}
.direita {
    padding: 0%;
    width: 50%;
    flex-direction: column;
}
.txt-direita {
    margin-bottom: -5%;
    width: 100%;
    height: 10%;
}
.txt-direita h1{
    text-align: center;
    color: white;
    background-color:rgb(59, 185, 185);
    box-shadow: inset 2px 2px 10px rgb(30, 80, 80);
    border-radius: 2em;
}
.txt-direita p{
    text-align: center;
    color: white;
    margin: 0;
}
.direita button{
    width: 100%;
    height: 30%;
    background-color:rgb(59, 185, 185);
    box-shadow: inset 2px 2px 10px rgb(30, 80, 80);
    border-radius: 2em;
    border: none;
}

.imagens-planos{
    width: 80%;
    border: 2px solid;
    margin-left: 10%;
}
