
header {
    width: 90%;
    display: flex;
    justify-content: center;
}
.Logo {
    width: 90%;
}
.contatos{

    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 2em;
    margin: 10% auto auto auto;

}
.contatos img{

    margin-bottom: 0.5em;
}
.sessao {
    height: 8em;
    width: 105%;
    margin-left: -3%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(Imagens/BG.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 10em;
}
.sessao button{
    height: 40%;
    width: 50%;
    background-color: rgb(73, 245, 179);
    color: black;
    border-radius: 10px;
}

.conceito{
    text-align: left;
    padding: 30px;
    
}
a {
    text-decoration:none;
    color: black;
}
section {
    height: 116%;
    display: flex;
    width: 106%;
    margin: auto auto -100% -10px;
    background-image: url(Imagens/BG.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.esquerda {
    padding: 0%;
    margin-left: -10px;
    width: 50%;
    flex-direction: column;
}
.direita {
    padding: 0%;
    width: 50%;
    flex-direction: column;
}
.txt-direita {
    width: 100%;
    height: 20%;
}
.direita button{
    height: 30%;
    border-radius: 5%;
    background-color: pink;
}
.imagens-planos{
    width: 80%;
    border: 2px solid;
    margin-left: 10%;
}
