header {
    width: 100%;
}
.logo {
    margin-top: -10%;
    width: 80%;
}
.bg {
    width: 92%;
    background-color: #82e7e7;
    margin-left: -12%;
    padding: 10%;
}
body {
    width: 90%;
    margin: 10%;
    margin-bottom: -10%;
}
body li {
    text-align: left;
    font-size: 1.1em;
    margin-left: -10%;
}