header {
    width: 100%;
}
.logo {
    margin-top: -10%;
    width: 80%;
}
.bg {
    width: 92%;
    background-color: #82e7e7;
    margin-left: -12%;
    padding: 10%;
}
body {
    width: 90%;
    margin: 10%;
}


body p {
    font-size: 1.1em;
}
footer {
    background-color: lightblue;
    width: 111%;
    margin-left: -11%;
    margin-bottom: -12%;
    display: flex;
    justify-content: space-around;

}
.direitaft {
    display: flex;
    align-items: center;
    
}
.meio {
    display: flex;
    align-items: center;
}
footer img{
    display: flex;
    height: 25px;
}